$background-color: (
  'default': #fff,
  'hover': #f2f2f2,
);

$main-color: (
  'default': #333,
  'hover': #23527c,
);

$secondary-color: (
  'default': #ffea28,
  'hover': #fdd835,
);

$breakpoints: (
  'tablet': 1024,
  'mobile': 500
);
