.totalcart {
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 15px;
  margin: 10px 0;
  padding: 0.5%;
  text-align: left;
  width: 100%;
  
  
  &_title {
    margin: 0;
  }

  &_value {
    margin: 0;
    text-align: right;
  }
}
